/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

/*
li{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    letter-spacing: 0;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
}

.btn-vivarad{
    background-color: #2a88c8 !important;
    border-color: #2a88c8 !important;
}

li > a:hover{
    color: #2a88c8 !important;
    
}

.text-colored{
    color: #2a88c8 !important;
}

h2:before {
    background-color: #2a88c8 !important;;
}

.background-colored{
    background-color: #2a88c8 !important;;
}

.team-desc > p{
    text-align: left !important;
}
*/